{% load navigation_tags static %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}

{% block messages %}
    {% include "includes/messages.html" %}
{% endblock messages %}

<body scroll="no" style="overflow: hidden">
    <main role="main">
        {% block content %}
        {% endblock content %}
    </main>
</body>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{% load static %}
<script src="{% static 'js/jquery.slim.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>